<img src = "images/Worksheet9/Header.png">

Problems 1, 3, 5, 8, 9, 10, 11

<img src = "images/Worksheet9/1.png">

In [2]:
E_X = (.9)*(900) # Expected value is np
var = 900* (.1) * (.9)

<img src = "images/Worksheet9/3.png">

<img src = "images/Worksheet9/5.png">

<img src = "images/Worksheet9/8.png">

In [12]:
feature_names=pd.read_fwf("data/predicates.txt", header=None)[1].values
classes_features = pd.DataFrame(data = samples_features, columns = feature_names)
classes_features.index = classes
classes_features.loc[['german+shepherd', 'collie', 'dalmatian']]
#classes_features

,black,white,blue,brown,gray,orange,red,yellow,patches,spots,...,water,tree,cave,fierce,timid,smart,group,solitary,nestspot,domestic
german+shepherd,43.54,15.88,5,54.16,26.82,3.12,2.5,0.38,48.78,11.59,...,3.75,0.00,2.5,57.44,10.00,57.53,12.50,35.11,16.53,68.55
collie,10.13,41.37,0,47.27,3.75,8.00,0.5,0.00,37.00,9.09,...,0.00,0.00,0.0,5.25,43.09,42.17,0.62,45.99,18.57,79.11
dalmatian,69.58,73.33,0,6.39,0.00,0.00,0.0,0.00,37.08,100.00,...,1.25,6.25,0.0,9.38,31.67,53.26,24.44,29.38,11.25,72.71

In [13]:
clf=KMeans(init='k-means++', n_clusters=10, n_init=10)
clf.fit(samples_features, classes) #samples_features is a samples by features matrix
clusters = clf.predict(samples_features) # clusters are int32 from 0-9 for n_clusters = 10

grouping = {i:[] for i in xrange(0,10)}

for i,animal in enumerate(classes):
    grouping[clusters[i]].append(animal)
grouping

{0: ['hippopotamus',
  'moose',
  'elephant',
  'ox',
  'rhinoceros',
  'buffalo',
  'pig',
  'cow'],
 1: ['tiger', 'leopard', 'wolf', 'bobcat', 'lion'],
 2: ['beaver', 'seal', 'otter'],
 3: ['fox', 'bat', 'rat', 'weasel', 'raccoon'],
 4: ['killer+whale', 'blue+whale', 'humpback+whale', 'walrus', 'dolphin'],
 5: ['antelope', 'horse', 'giraffe', 'zebra', 'deer'],
 6: ['dalmatian',
  'persian+cat',
  'german+shepherd',
  'siamese+cat',
  'chihuahua',
  'collie'],
 7: ['spider+monkey', 'gorilla', 'chimpanzee', 'giant+panda'],
 8: ['skunk', 'mole', 'sheep', 'hamster', 'squirrel', 'rabbit', 'mouse'],
 9: ['grizzly+bear', 'polar+bear']}

<img src = "images/Worksheet9/9.png">

<img src = "images/Worksheet9/10.png">

<img src = "images/Worksheet9/11.png">

<h2 align="center"> The clustering seems sensible to me since it 10 clusters before was arbitrary plus it seems to have made intuitive sense in grouping polar and grizzly bears together, different types of dog, and various sea dwelling creatures together. </h2>